@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.Homepage{
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  font-family: "Neucha", cursive;
}

.Title{
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px;
  color: black;
  z-index: 1;
  text-align: center;
}

@media(max-width:800px){
  .Title{
    font-size: 15px 0;
    margin: 35px;
  }
}

.ProductTable{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
}